<div [ngClass]="{verdanaFont: true}">
  <h2>Hello Angular</h2>
  <p [ngClass]="{segoePrintFont:true}">Angular представляет модульную архитектуру приложения</p>
  </div>
<div [ngStyle]="{'font-size': '25px'}">
  <h2>Hello Natali</h2>
  <p [ngStyle]="{'font-size': '15px'}">Angular 12 представляет модульную архитектуру приложения</p>
</div>
<br>
<br>
<button (click)="toggle()">Toggle</button>
<div [ngClass]="{invisible: visibility}">
  <h2>Hello Tania</h2>
  <p>TaniaTaniaTaniaTaniaTania</p>
</div>




