div {
  width:50px;
  height:50px;
  border:1px solid #ccc
}

.isredbox {
  background-color:red;
}

.green {
  background-color: green;
}
.mint {
  width:50px;
  height:50px;
  border:1px solid #ccc;
  background-color: midnightblue;
}

