<span>{{title}} app is running!</span>
{{version}}


<app-validation></app-validation>
<br>
<br>
<hr>

<br>
<br>
<app-second-form></app-second-form>
<br>
<br>
<hr>

<br>
<br>
<app-forms></app-forms>
<br>
<br>

<app-structure-directive></app-structure-directive>
<br>
<br>

<app-directive></app-directive>
<br>
<br>

<app-red></app-red>
<br>
<br>
<app-hello-tom></app-hello-tom>
<br>
<br>
<app-click-count></app-click-count>
<br>
<br>
<app-hello></app-hello>
<app-authorisation></app-authorisation>
<br>
<br>
<app-shopping-list></app-shopping-list>
<br>
<br>
<app-animals></app-animals>


